:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --oceancolor: #404bbf;
  --white: white;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --lightslate: #8e8f99;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --green: #31d0aa;
}

body {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.logo-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.web-logo {
  color: var(--iriscolor);
}

.studio-logo {
  color: var(--navyblue);
}

.studio-logofooter {
  color: var(--cloud);
}

.navbar {
  list-style-type: none;
}

.navbar .pages {
  color: var(--navcolor);
  text-decoration: none;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.navbar .pages:hover,
.navbar .pages:focus,
.navbar .pages.currentoption,
.contact-info .info:hover,
.contact-info .info:focus {
  color: var(--oceancolor);
}

.contact-info {
  list-style-type: none;
}

.contact-info .info {
  color: var(--navcolor);
  text-decoration: none;
}

.hero {
  background-color: var(--navyblue);
}

.hero-title {
  color: var(--white);
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  text-align: center;
}

.btn {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.btn.main {
  background-color: var(--iriscolor);
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.btn.main:hover,
.btn.main:focus {
  background-color: blue;
}

.featurestitle {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.desclist {
}

.lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sectiontitle {
  text-align: center;
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.teamname {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

.footerbg {
  background-color: var(--navyblue);
}

.finaldesc {
  color: var(--cloud);
}

/*portfolio*/

.filter-button {
  cursor: pointer;
  color: var(--iriscolor);
  font-family: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
  padding: 12px 24px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--cloud);
  background-color: var(--oceancolor);
}

.active-button {
  color: var(--white);
  border-radius: 4px;
  background: var(--oceancolor);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
